# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Environment variables
# Ignore all .env files
.env
.env.*
# Except for .env.example, which is safe to commit
!.env.example

# Build output
/dist
/build

# Vite cache directory
/.vite

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/